:root {
  --title-box-background: #114911;
  --title-box-border: #386e38;
  --text-color: #c8a8ff;
  --line-color: #4b5499;
  --button-background: #534ab7;
  --button-border: #8b5cf6;
  --button-text-color: #edecf7;
  --button-hover-background: #8b5cf6;
  --button-hover-border: #534ab7;
  --footer-background: #1a1430;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
